mat-expansion-panel{
  margin: 10px;
  font-size: medium;
  font-weight: 700;
  border: 1px solid brown;
}

mat-accordion:first-child{
  margin-top: 200px;
}

mat-expansion-panel-header p{
  margin: 10px;
}

mat-expansion-panel-header{
  background-color: bisque;
}
