#container {
  width: 95%;
  /* background-color: #ffcc33; */
  align-items: center;
  margin: auto;
}
#first {
  width: 49%;
  float: left;
  height: 90%;
  /* background-color: blue; */
  margin: 5px;
}
#second {
  margin: 5px;

  width: 49%;
  float: left;
  height: 90%;
  /* background-color: green; */
}
/* #clear {
  clear: both;
} */



@media only screen and (max-width: 1100px) {
  #first {
    width: 95%;
    float: left;
    height: 90%;
    /* background-color: blue; */
    margin: 5px;
  }
  #second {
    margin: 5px;
    width: 95%;
    float: left;
    height: 90%;
    /* background-color: green; */
  }
}
