
<div id="container">
  <div>
    <h2>
      Domaincer, leading Job Portal
    </h2>
  </div>
  <p><b>Easiest way for Employers to post jobs and recruit employees</b></p>
  <p><b>Easiest way for Employees and Freshers seeking for jobs </b></p>
  <div id="first">
    <mat-card>
    <div>
      <img src="assets/home.jpg" width="65%" />
      <div>
        <h2>Hire faster</h2>
      </div>
      <div>
        <p>Register & Login as Recruiter to post Jobs and Recruit employees</p>
      </div>
    </div>
  </mat-card>
  </div>
  <div id="second">
    <mat-card>
      <div>
        <img src="assets/hire.svg" width="76%" height="100%" />
        <div>
          <h2>Find Jobs</h2>
        </div>
        <div>
          <p>Register & Login as Candidate to see available jobs and apply</p>
        </div>
      </div>
    </mat-card>
    </div>

</div>

<div id="container" *fxHide.gt-lg="true">
  <div>
    <h2>
      Domaincer, leading Job Portal
    </h2>
  </div>
  <p><b>Easiest way for Employers to post jobs and recruit employees</b></p>
  <p><b>Easiest way for Employees and Freshers seeking for jobs </b></p>
  <div id="firstH">
    <mat-card>
    <div>
      <img src="assets/home.jpg" width="65%" />
      <div>
        <h2>Hire faster</h2>
      </div>
      <div>
        <p>Register & Login as Recruiter to post Jobs and Recruit employees</p>
      </div>
    </div>
  </mat-card>
  </div>
  <div id="secondH">
    <mat-card>
      <div>
        <img src="assets/hire.svg" width="76%" height="100%" />
        <div>
          <h2>Find Jobs</h2>
        </div>
        <div>
          <p>Register & Login as Candidate to see available jobs and apply</p>
        </div>
      </div>
    </mat-card>
    </div>

</div>
